{% extends "accounts/main.html" %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Employee:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Employee</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Assign Task</a>


		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
            <p>Name: {{employee.name}}</p>
			<p>Email: {{employee.email}}</p>
			<p>Phone: {{employee.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Works</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Work</th>
					<th>Description</th>
					<th>Date assigned</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
				<tr>
				  <td>{{order.work}}</td>
				  <td>{{order.work.description}}</td>
				  <td>{{order.date_assigned}}</td>
				  <td>{{order.status}}</td>
				  <td><a class="btn btn-sm btn-info" href="#">Update</a></td>
				  <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
				</tr>
			 {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}